body{
    text-align: center;
    min-height: 100vh;
    background-image: url("file:///C:/Users/JESUS%20TE%20AMA/Downloads/images.jfif");
    background-size: cover;
    background-position: center;
   
}

h1{
    color: rgb(255, 255, 255);
}
.formulario {
    max-width: 800px;
    margin: 0 auto;
}

.formulario iframe {
    width: 100%;
    height: 900px;
    border: none;
}
p{ 
    font-size: 20px;
    font-family: Arial;
    color: aliceblue;
}

