body{
    text-align: center;
  text-align: center;
    background-image: url("images.jfif");
    background-repeat: repeat;
   
}

h1{
    color: rgb(255, 255, 255);
}
.formulario {
    max-width: 800px;
    margin: 0 auto;
}

.formulario iframe {
    width: 100%;
    height: 900px;
    border: none;
}
p{ 
    font-size: 20px;
    font-family: Arial;
    color: aliceblue;
}



