body{
    text-align: center;
    min-height: 100vh;
    background-image: url("images.jfif");
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: rgb(255, 255, 255);
}
.formulario {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.formulario iframe {
    width: 100%;
    height: 900px;
    border: none;
}
.caixa-texto {
    display: inline-block;          
    background: rgba(0, 45, 143, 0.55); 
    padding: 20px 25px;             
    border-radius: 15px;            
    max-width: 800px;
}

.caixa-texto p {
    margin: 0;
    font-size: 20px;
    color: #ffffff;                  /* dourado combina com o logo */
    line-height: 1.5;
}


