body{
    text-align: center;
    min-height: 100vh;
    background-image: url("images.jfif");
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: rgb(255, 255, 255);
}
.formulario {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.formulario iframe {
    width: 100%;
    height: 900px;
    border: none;
}
.caixa-texto {
    background: rgba(0, 0, 0, 0.55);
    padding: 25px;
    border-radius: 16px;

    max-width: 850px;
    width: calc(100
}

.caixa-texto p {
    margin: 0;
    font-size: 20px;
    color: #ffffff;                  /* dourado combina com o logo */
    line-height: 1.5;
}



